# Development artifacts
app/data/
app/_deprecated/
app/__pycache__/
app/axpro/__pycache__/
app/niceGui/__pycache__/
app/static/__pycache__/
app/templates/__pycache__/  

# Python artifacts
*.pyc
*.pyo
*.db-journal

# IDE files
.vscode/settings.json
.idea/

# OS files
.DS_Store
Thumbs.db

# Virtual environment
venv/
.env

# Database files
*.db
*.sqlite
*.sqlite3

# .bat files
*.bat

